/* Apply extra padding inside the <main> section */
main {
    padding: 30px;
}
  
/* Add a border to the "About Me" <section> */
section > h2~p{
  border: 3px solid #000;
}

/* Apply a margin around the "Services" <section> */
section ul {
  margin: 10px 10px 10px 3px;
}

/* Apply specific margin values to the individual <article> elements within the "Services" section */
section article {
  margin: 100px 100px 100px 100px; 
}

/* Apply a unique style to the header using its id attribute */
#header {
    background-color: #aaa; 
    color: #fff; 
    padding: 10px; 
}

/* Apply a style to all paragraphs with the class "highlight" */
.highlight {
  font-weight: bold;
  color: #f00;
}

/* Apply a style to all <article> elements */
article {
  border: 1px solid #00f; 
  padding: 10px;
}

/* Apply a style to paragraphs inside the <section class="about"> */
section.about {
  font-weight: bold;
  font-size: 50px;
}

/* Apply a style to the list items directly under the <ul class="services-list"> */
ul.services-list > li {
  list-style-type: square; 
  color: #00f; 
}
